<div class="container">
  <hr>
  <footer class="footer">
    <ul class="social-profiles">
      <li class="social-profiles__item">Twitter: <a href="https://twitter.com/ToH_82">ToH_82</a></li>
      <li class="social-profiles__item">GitHub: <a href="https://github.com/toh82">toh82</a></li>
      <li class="social-profiles__item">Tellonym: <a href="https://tellonym.de/u/toh82">toh82</a></li>
      <li class="social-profiles__item">Pinterest: <a href="https://pinterest.com/th1982">th1982</a></li>
      <li class="social-profiles__item">Medium: <a href="https://medium.com/@ToH_82">ToH_82</a></li>
      <li class="social-profiles__item">Instagram: <a href="https://instagram.com/toh_82">toh_82</a></li>
    </ul>

    <a href="impressum-datenschutz.html">Impressum/Datenschutz (Legal notice)</a>
  </footer>
</div>

<script src="{{site.url.static}}assets/lib/zepto.min.js"></script>
<script src="{{site.url.static}}assets/js/script.js"></script>
