<div class="container">
  <hr>
  <footer class="footer">
    <ul class="list  list--inline  social-profiles">
      <li class="social-profiles__item"><a href="https://twitter.com/ToH_82" title="open twitter profile"><i class="fa fa-twitter" aria-hidden="true"></i> ToH_82</a></li>
      <li class="social-profiles__item"><a href="https://github.com/toh82" title="open github profile"><i class="fa fa-github" aria-hidden="true"></i> toh82</a></li>
      <li class="social-profiles__item"><a href="https://pinterest.com/th1982" title="open pinterest profile"><i class="fa fa-pinterest" aria-hidden="true"></i> th1982</a></li>
      <li class="social-profiles__item"><a href="https://medium.com/@ToH_82" title="open medium profile"><i class="fa fa-medium" aria-hidden="true"></i> ToH_82</a></li>
      <li class="social-profiles__item"><a href="https://instagram.com/toh_82" title="open instagram profile"><i class="fa fa-instagram" aria-hidden="true"></i> toh_82</a></li>
      <li class="social-profiles__item"><a href="https://stackoverflow.com/users/3301573/tobias-hartmann" title="open stackoverflow profile"><i class="fa fa-stack-overflow" aria-hidden="true"></i> tobias-hartmann</a></li>
      <li class="social-profiles__item"><a href="https://www.eyeem.com/u/toh82" title="open EyeEm profile">EyeEm: toh82</a></li>
      <li class="social-profiles__item"><a href="https://tellonym.de/u/toh82" title="open tellonym profile">Tellonym: toh82</a></li>
    </ul>

    <a href="impressum-datenschutz.html">Impressum/Datenschutz (Legal notice)</a>
  </footer>
</div>
