<div class="container">
  <hr>
  <footer class="footer">
    <p>E-Mail: <a href="mailto:hartmann.tobias@gmail.com">hartmann.tobias@gmail.com</a><br>
    Twitter: <a href="https://twitter.com/ToH_82">ToH_82</a></p>
    <p>And if you want to tell me something anonyme<br>
    - <a href="https://tellonym.de/u/toh82">Tellonym: toh82</a></p>
  </footer>
</div>

<script src="{{site.url.static}}assets/lib/zepto.min.js"></script>
<script src="{{site.url.static}}assets/js/script.js"></script>
