<div class="topbar">
  <div class="container">
    <div class="logo">
      <object type="image/svg+xml" data="{{site.url.static}}assets/logo.svg">TOH</object>
    </div>
    <nav class="menu  menu--horizontal">
      <a href="index.html" class="menu-item">» About</a>
      <a href="blog.html" class="menu-item">» Blog</a>
    </nav>
  </div>
</div>
