<nav class="menu">
  <a href="index.html" class="menu-item">Index/About <span class="pull-right">»</span></a>
  <a href="blog.html" class="menu-item">Blog <span class="pull-right">»</span></a>
</nav>
