<div class="topbar">
  <div class="container">
    <div class="logo">
      <object type="image/svg+xml" data="{{site.url.static}}assets/logo.svg">TOH</object>
    </div>
    <nav class="menu  menu--horizontal">
      <a href="index.html" class="menu-item">» Home</a>
      <a target="_blank" href="https://www.code-coffee-photohraphy.blog" class="menu-item">» Code Coffee & Photography</a>
    </nav>
  </div>
</div>
