<div class="logo"><img src="{{site.url.static}}assets/media/logo.png" alt="Logo of Tobias Hartmann"></div>      

{{> navigation}}

<div class="social">
    <ul class="list  list--inline  list--unstyled">
        <li class="list__item"><a href="https://instagram.com/toh_82" class="social-link" title="open instagram profile" target="_blank" rel="noopener"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li class="list__item"><a href="https://twitter.com/ToH_82" class="social-link" title="open twitter profile" target="_blank" rel="noopener"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li class="list__item"><a href="https://github.com/toh82" class="social-link" title="open github profile" target="_blank" rel="noopener"><i class="fa fa-github" aria-hidden="true"></i></a></li>
        <li class="list__item"><a href="https://stackoverflow.com/users/3301573/tobias-hartmann" class="social-link" title="open stackoverflow profile" target="_blank" rel="noopener"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a></li>
    </ul>       
</div>