<div class="logo"><img src="{{site.url.static}}assets/media/logo.png" alt="Logo of Tobias Hartmann"></div>      

{{> navigation}}

<div class="social">
    <ul class="list  list--unstyled">
        <li class="list__item"><a href="https://instagram.com/toh_82" title="open instagram profile" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li class="list__item"><a href="https://twitter.com/ToH_82" title="open twitter profile" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li class="list__item"><a href="https://github.com/toh82" title="open github profile" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
    </ul>       
</div>