.layout {
  margin-top: 2%;
  display: grid;
  grid-template-rows: 4rem auto;
  grid-template-columns: 1rem 3rem 1fr 1fr 3rem 1rem;
  grid-template-areas: 
    ". gapn navigation navigation navigation ."  
    "header header header header header header"
    "headercontent headercontent headercontent headercontent headercontent headercontent"
    ". teaserslot teaserslot teaserslot teaserslot ."
    "main main main main main main"
    "footer footer footer footer footer footer";  

  @media (--break-medium) {
    grid-template-rows: auto;
    grid-template-columns: 8rem 6rem 20rem 1fr 1fr 4rem 2rem;
    grid-template-areas: 
      ". gapn navigation navigation social . ."  
      ". . header header header header header"
      ". headercontent headercontent teaserslot teaserslot teaserslot teaserslot"
      "main main main main main main main"
      ". footer footer footer footer footer footer";    
  }
}

.grid--project-teaser {
  grid-template-columns: 1fr;
  grid-template-areas: "image-big"
  "text";

  @media (--break-medium) {
    grid-template-columns: 8rem 26rem 1fr 1fr 1fr 10rem;
    grid-template-areas: "image-big image-big text text text image-small";
  }
}

.grid {
  display: grid;
  grid-column-gap: 0;

  > * + * {
    margin-top: 0;
  }
}

.grid--1-md2 {
  grid-template-columns: 1fr;
  @media (--break-medium) { 
    grid-template-columns: 1fr 1fr;
  }
}

.grid--2-md4 {
  grid-template-columns: 1fr 1fr;
  @media (--break-medium) { 
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.grid--1-md4 {
  grid-template-columns: 1fr;
  @media (--break-medium) { 
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.grid__item {
  &--2 {
    grid-column: auto / span 2
  }
}