:root {
    --color__base: #f4f3f1;
    --color__primary: #2c1c0a;
    --color__primary--light: #d0d0d0;
    --color__brand: #00b38d;
    --color__brand--dark: #058166;

    --font__weight--bold: 700;
    --font__weight--regular: 500;
    --font__weight--light: 300;
}

@custom-media --break-small (min-width: 480px);
@custom-media --break-medium (min-width: 768px);
@custom-media --break-big (min-width: 992px);
@custom-media --break-huge (min-width: 1200px);
