@import "_variables.css";

.hack--toh {
  @import "card";
  @import "tags";
  @import "button";
  @import "figure";

  .author-image {
    float: left;
    margin: 1.2em 1em 0 0;

    .image {
      margin: 0;
    }
  }

  .hash-filter {
    transition: all 0.3s ease-in-out 0.1s;

    &--no {
      opacity: 0.3;
    }
  }
}