@import "normalize-css/normalize.css";
@import "_variables.css";
@import "_base.css";
@import "_list.css";

.toh {
  @import "layout";
  @import "link";
  @import "text";

  .display {
    grid-area: header;
  }
  
  .social {
    grid-area: social;
    margin-top: 0;    
  }

  .info-box {
    grid-area: headercontent;
    position: relative;
    margin-top: 0; 

    .link {
      color: #fff;
    }

    .link:hover {
      background-color: transparent;
    }
  }

  .info-box__content {
    background-color: black;
    color: #fff;
    padding: 1.5rem 2rem;

    @media (--break-medium) { 
      position: absolute;
      top: -10rem;
      left: 0;
      padding: 2rem 3rem;
    }
  }
  
  .teaserslot {
    grid-area: teaserslot;
  }
  
  .main {
    grid-area: main;
  }

  .logo {
    grid-area: gapn;
    align-self: center;
  }

  .footer {
    grid-area: footer;
    background: #000;
    color: #fff;
  }
  
  .navigation {
    grid-area: navigation;
    margin-top: 0;
    align-self: center;

    .link {
      border-bottom: none;
      padding: 0.25rem 1rem;
      font-style: normal;
      color: #000000;
      text-transform: uppercase;      
    }
  
    .list__item {
      padding: 0 0.5rem
    }    
  }  
}
