@import "normalize-css/normalize.css";
@import "hack/dist/hack.css";
@import "_variables.css";

.hack--toh {
  color: var(--brand-secondary);
  letter-spacing: -0.01em;

  h1 {
    font-size: 1.5rem;

    &.align-center {
      display: block;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-bottom: 0;
  }

  p {
    line-height: 1.5;
  }

  main:after {
    content: "";
    display: table;
    clear: both;
  }

  main * + * {
    margin-top: 1.5rem;
  }

  a {
    cursor: pointer;
    color: var(--brand-primary);
    text-decoration: none;
    border-bottom: 1px solid var(--brand-primary);

    &:hover {
      background-color: var(--brand-primary);
      color: #fff;
    }
  }

  ul {
    li + li {
      margin-top: 0.5rem;
    }
  }

  .footer {
    margin-bottom: 4em;
  }

  .list {
    margin-left: -0.5em;
    margin-right: -0.5em;

    &--inline li {
      padding: 0 0.5em;
      display: inline-block;

      &:after {
        display: none;
      }
    }
  }

  .subline {
    display: block;
    font-size: 1rem;
  }

  @import "grid";
  @import "menu";

  .image {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center center;

    &--small {
      width: 60px;
      height: 60px;
      float: left;
      margin: 0 2em 0 0;
    }
    &--round {
      border-radius: 100%;
    }
    &--left {
      float: left;
      margin: 0 3em 2em 0;
    }
  }

  .text {
    &--align-center {
      text-align: center;
    }
  }
}