@import "normalize-css/normalize.css";
@import "_variables.css";
@import "_base.css";
@import "_list.css";

.toh {
  @import "layout";
  @import "link";
  @import "text";

  .display {
    grid-area: header;
  }
  
  .social {
    grid-area: social;
    margin-top: 0;
    align-self: center;    
    text-align: right;
    display: none;
    
    @media (--break-medium) {
      display: block;
    }
  }

  .info-box {
    grid-area: headercontent;
    position: relative;
    margin-top: 0; 

    .link {
      color: #fff;
    }

    .link:hover {
      background-color: transparent;
    }
  }

  .info-box__content {
    background-color: black;
    color: #fff;
    padding: 1.5rem 2rem;

    h1 {
      margin-bottom: 1rem;
    }

    @media (--break-medium) { 
      position: absolute;
      top: -10rem;
      left: 0;
      padding: 2rem 3rem;
    }
  }
  
  .teaserslot {
    grid-area: teaserslot;
  }
  
  .main {
    grid-area: main;
  }

  .logo {
    grid-area: gapn;
    align-self: center;
  }

  .footer {
    grid-area: footer;
    background: #000;
    color: #fff;

    .link {
      color: #fff;
      border: none;
      font-style: normal;
      padding: 0;
    }
  }
  
  .cnt {
    .cnt__header {
      padding: 2rem 2rem 1rem 2rem;
    }
    .cnt__content {
      padding: 2rem;
    }

    .cnt__header + .cnt__content {
      padding-top: 0;
    } 
  }
  
  .navigation {
    grid-area: navigation;
    margin-top: 0;
    align-self: center;

    .list__item {
      padding: 0;
    }

    .link {
      border-bottom: none;
      padding: 0.25rem 1rem;
      font-style: normal;
      color: var(--color__primary);
      text-transform: uppercase;  

      &:hover {
        color: var(--color__base);
      }    
    } 
  }  


  .project-teaser {
    &__image-big {
      grid-area: image-big;
    }
    &__text {
      grid-area: text;
    }
    &__image-small {
      display: none;
      grid-area: image-small;

      @media (--break-medium) {
        display: block;
      }
    }
    .stripe-img {
      width: 10rem;
      height: 433px;
      overflow: hidden;

      img {
        width: unset;
        max-width: unset;
        height: 100%;
        margin-left: -50%;
      }
    }
  }
}
